<button type="button" class="btn btn-link" (click)="location.back()">返回</button>

<h1>{{title}}</h1>

<form (ngSubmit)="onSubmit()" #OrderForm="ngForm">
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label>訂單編號</label>
                <input type="number" disabled class="form-control" id="OrderID" name="orderid" [(ngModel)]="order.orderid">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>客戶名稱</label>
                <select class="form-control" [(ngModel)]="order.custid" name="custid">
                   <option *ngFor="let customer of customers" [value]="customer.custid">{{customer.companyname}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>負責員工名稱</label>
                <select class="form-control" [(ngModel)]="order.empid" name="empid">
                   <option *ngFor="let employee of employeeList" [value]="employee.empid">{{employee.firstname +' '+ employee.lastname}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>訂單日期</label>
                <input type="date" class="form-control" id="orderdate" name="orderdate" [(ngModel)]="order.orderdate">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>出貨日期</label>
                <input type="date" class="form-control" id="shippeddate" name="shippeddate" [(ngModel)]="order.shippeddate">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>需要日期</label>
                <input type="date" class="form-control" id="requireddate" name="requireddate" [(ngModel)]="order.requireddate">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>出貨公司</label>
                <select class="form-control" [(ngModel)]="order.shipperid" name="shipperid">
                   <option *ngFor="let shipper of shipperList" [value]="shipper.shipperid">{{shipper.companyname}}</option>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>運費</label>
                <input type="test" class="form-control" id="freight" name="freight" [(ngModel)]="order.freight">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>出貨國家</label>
                <input type="text" class="form-control" id="shipcountry" name="shipcountry" [(ngModel)]="order.shipcountry">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>出貨城市</label>
                <input type="text" class="form-control" id="shipcity" name="shipcity" [(ngModel)]="order.shipcity">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>出貨地區</label>
                <input type="text" class="form-control" id="shipregion" name="shipregion" [(ngModel)]="order.shipregion">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>郵遞區號</label>
                <input type="number" class="form-control" id="shippostalcode" name="shippostalcode" [(ngModel)]="order.shippostalcode">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>出貨地址</label>
                <input type="text" class="form-control" id="shipaddress" name="shipaddress" [(ngModel)]="order.shipaddress">
            </div>
        </div>

        <div class="col-md-2">
            <div class="form-group">
                <label>出貨說明</label>
                <input type="text" class="form-control" id="shipname" name="shipname" [(ngModel)]="order.shipname">
            </div>
        </div>
    </div>
</form>
<h1>{{subTitle}}</h1>
<form #DetailForm="ngForm">

    <div *ngFor="let detail of orderDetail ; let detailIndex = index" class="row">

        <div class="col-md-2">
            <div class="form-group">
                <label>產品名稱</label>
                <select class="form-control" [(ngModel)]="detail.productid" name="orderDetails[{{detailIndex}}].productid">
                   <option *ngFor="let product of products" [value]="product.productid">{{product.productname}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>單價</label>
                <input type="text" class="form-control" name="orderDetails[{{detailIndex}}].unitprice" [(ngModel)]="detail.unitprice">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>數量</label>
                <input type="text" class="form-control" id="qty" name="orderDetails[{{detailIndex}}].qty" [(ngModel)]="detail.qty">
            </div>
        </div>
        <input hidden name="orderDetails[{{detailIndex}}].orderid" [(ngModel)]="detail.orderid">
    </div>

</form>

<button type="button" (click)="onSubmit()" class="btn btn-success">存檔</button>

<dialog-loading (closeDialog)="setLoadingDialog($event)"></dialog-loading>
