<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="home" routerLinkActive="active">Angular2</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">訂單處理
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="orderCondition" routerLinkActive="active">查詢訂單</a></li>
                    <li><a routerLink="orderDetail" routerLinkActive="active">新增訂單</a></li>
                </ul>
            </li>
            <li><a routerLink="orderDetail" routerLinkActive="active">客戶處理</a></li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>