<h1 md-dialog-title>訊息</h1>
<div md-dialog-content>確定要進行刪除動作嗎?</div>
<div md-dialog-actions>
  <button md-button (click)="dialogRef.close('Option 1')">保留</button>
  <button md-button (click)="dialogRef.close('Option 2')">刪除</button>
</div>