<div class="modal fade" bsModal #loadingDialog="bs-modal" [config]="{backdrop: 'static'}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-body">
        <md-progress-circle [color]="mdProgessCircle.color" [mode]="mdProgessCircle.mode" [value]="mdProgessCircle.value">
        </md-progress-circle>
          等待資料讀取
      </div>
    </div>
  </div>
  </div>